[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
[credential]
	helper = GIT_CREDENTIAL_HELPER
[color]
	ui = auto
[alias]
	st = status
	ci = commit
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %cr)%Creset'
	standup = !git-standup
	export = "!f() { git archive --format zip --output $1 $2; }; f"
    ulg = !(git fetch && git lg ..@{u})
	llg = !(git lg @{u}..)
	ignored = clean -ndX
	ready = rebase -i @{u}
	changelog =  "!f() { git log $1...$2 --pretty=format:\"- %s ([%h](http://github.com/jcgay/$3/commit/%H))  \"; }; f"
[core]
	pager = "diff-so-fancy | cat"
	whitespace = -trailing-space
	# excludesfile = https://help.github.com/articles/ignoring-files
	excludesfile = ~/.gitignore_global
	# editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
	editor = mate -w
	# editor = gedit -w -s
	# Make `git rebase` safer on OS X
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
[diff]
	mnemonicPrefix = true
	wordRegex = .
    compactionHeuristic = true
	colorMoved = zebra
[fetch]
	recurseSubmodules = on-demand
[grep]
	extendedRegexp = true
[log]
	abbrevCommit = true
    follow = true
[merge]
	conflictStyle = diff3
	tool = p4merge
[mergetool]
	keepBackup = false
	keepTemporaries = false
	prompt = false
[pull]
	rebase = merges
[push]
	default = upstream
[rerere]
	autoupdate = true
	enabled = true
[status]
	submoduleSummary = true
    showUntrackedFiles = all
[rebase]
	autostash = true
    autoSquash = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[init]
	defaultBranch = main
