[user]
	name = Jean-Christophe Gay
	email = jean-christophe.gay@vidal.fr
[credential]
	helper = osxkeychain
[color]
	ui = auto
[alias]
	st = status
	ci = commit
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %cr)%Creset'
	standup = !git-standup
	export = !f() { git archive --format zip --output $1 $2; }; f
	ulg = !(git fetch && git lg ..@{u})
	llg = !(git lg @{u}..)
	ignored = clean -ndX
	ready = rebase -i @{u}
	changelog = !f() { git log $1...$2 --pretty=format:"- %s ([%h](http://github.com/jcgay/$3/commit/%H))  "; }; f
[core]
	pager = delta
	whitespace = -trailing-space
	excludesfile = ~/.gitignore_global
	editor = mate -w
	trustctime = false
[diff]
	mnemonicPrefix = true
	wordRegex = .
	compactionHeuristic = true
	colorMoved = zebra
[fetch]
	recurseSubmodules = on-demand
[grep]
	extendedRegexp = true
[log]
	abbrevCommit = true
	follow = true
[merge]
	conflictStyle = diff3
	tool = p4merge
[mergetool]
	keepBackup = false
	keepTemporaries = false
	prompt = false
[pull]
	rebase = merges
[push]
	default = upstream
[rerere]
	autoupdate = true
	enabled = true
[status]
	submoduleSummary = true
	showUntrackedFiles = all
[rebase]
	autostash = true
	autoSquash = true
[init]
	defaultBranch = main
[advice]
	skippedCherryPicks = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = false
	line-numbers = true
	syntax-theme = Monokai Extended
