git/gitconfig.symlink
IntelliJIdea*/*.key
IntelliJIdea*/componentVersions
IntelliJIdea*/options/appComponentVersions.xml
IntelliJIdea*/options/dimensions.xml
IntelliJIdea*/options/feature.usage.statistics.xml
IntelliJIdea*/options/statistics.application.usages.xml
IntelliJIdea*/options/updates.xml
IntelliJIdea*/port
IntelliJIdea*/options/find.recents.xml
IntelliJIdea*/options/recentProjects.xml
IntelliJIdea*/options/find.xml
IntelliJIdea*/options/options.xml
IntelliJIdea*/options/window.manager.xml
IntelliJIdea*/options/runner.layout.xml
IntelliJIdea*/options/IntelliLang.xml
IntelliJIdea*/options/security.xml
IntelliJIdea*/options/scratches.xml
IntelliJIdea14/scratches
IntelliJIdea*/options/dslActivation.xml
